In [1]:
x=2
y=3
z=x+y
print(z)

5

In [2]:
first name = "vaish"
print(first name)

SyntaxError: invalid syntax (1719389814.py, line 1)

In [3]:
firstname="vaish"
print(firstname)

vaish

In [ ]:
rule no 2:A variable name should not start with a number**

In [4]:
1name = "sai"
print(1name)

SyntaxError: invalid decimal literal (4183508021.py, line 1)

In [5]:
name1="siri"
print(name1)

siri

In [ ]:
rule no 3:A variable name should not contain any special characters

In [ ]:
!@#$%^&*()

In [6]:
name@ ="shravya"
print(name@)

SyntaxError: invalid syntax (2352207449.py, line 1)

In [ ]:
Introduction to datatypes in python:
    1.String =======>str
    2.Numbers =======>integers----->int and float (decimal)
    3.list
    4.tuple
    5.Dictionairies=======>dict

In [ ]:
Classification of datatypes:
    Broadly datatypes are classified into two different categories:
        mutuable datatypes====>which are flexible in nature===>we can edit /alter
        immutable datatypes====>which are fixed in nature====>which will not be able to edit or alter

In [ ]:
Introduction to string datatype:
    defination: A string is nothing but a series of characters enclosed with quotes.
    classification: It is classified as an immutable datatype.
    How to define the string=====>
    1.Using single quote
    2.using double quote

In [7]:
name="shreya"
print(name)

shreya

In [8]:
name='shreya'
print(name)

shreya

In [9]:
name='kavya'
print(name)

kavya

In [ ]:
Introduction to string methods:

In [10]:
type(name)

str

In [11]:
fullname = "robert"
print(fullname)

robert

In [ ]:
# req: to correct the format

In [12]:
print(fullname.title())

Robert

In [ ]:
#req: convert the entire name into capital letters

In [13]:
print(fullname.upper())

ROBERT

In [ ]:
#req: convert the entire name in the small case letters

In [14]:
print(fullname.lower())

robert